
.roboto-slab-h1{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin-top: 15px;
}
.navbar-nav{
    padding: 10px;
    font-size: 18px;
}
.img{
    width: 600px;
    margin: 10px 0 0 30%;   
}
#kard1{
    padding: 20px;
    background-color: rgb(139, 111, 75);
}
#kard2{
    padding: 20px;
    background-color: aquamarine;
}
.pie{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: medium;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: white;
}
.video{
    margin: 20px;
    text-align: center;
}
.parrafo{
    
    margin: 15px;
    font-family: Georgia;
    font-size: large;
}
.p1{
    font-size: x-large;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}
.p2{
    margin-left: 20px;
}
